<div class="container form-container">
  <div class="row">
    <div class="form-card col-md-8 col-lg-6 col-xl-6">
      <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      label: "Your name",
                      placeholder: "What you want other users to call you?"%>
          <%= f.input :location,
                      required: true,
                      autofocus: true,
                      label: "Your location",
                      placeholder: "Nearest big city"%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: "Your email",
                      placeholder: "Your email"%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      label: "Create new password",
                      placeholder: "•••••••••••" %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: "Repeat your password",
                      placeholder: "•••••••••••" %>
        </div>

          <div class="form-actions">
            <button type="button" class="slide">
              <div>Sign up</div>
              <p>></p>
            </button>
          </div>

            <%= render "devise/shared/links", class: "button-action" %>

      <% end %>

    </div>
  </div>
</div>
