<% @users.each do |user|%>

<div class="user wrapper bg-dark m-4 " data-controller="user-card"  data-action="click->user-card#revealContent" >
  <div class="user-card">
    <div class="avatar-large">
      <img src=<%=user.avatar%>>
    </div>
    <div class="hobbies">
<% user.hobbies.each do |hobby|%>
    <%= hobby.name %>

<% end %>

    </div>
    <div class="card-info ">
      <h2><%=user.name%></h2>
      <h3><strong>Location: </strong><%=user.address%></h3>
      <h3><strong>Age: </strong><%=user.age%></h3>
      <h3><strong>Gender: </strong><%=user.gender%></h3>
    </div>
  </div>
  <div class="hider d-none w-100" data-user-card-target="content">
    <div class="user-card mt-2">
      <p><%= user.description %></p>
    </div>
    <%= form_tag inboxes_path, id: "form",method: :post do %>
    <%= hidden_field_tag "user_id", "#{user.id}" %>
    <button type="submit" class="retro fader">Send a letter!</button>
    <% end %>
  </div>
</div>


<%end%>
