<div data-controller="search-users">
  <%= form_with url: pals_path, method: :get, html: { class:
    'mb-4 d-flex flex-column justify-content-center align-items-center', data: { search_users_target: 'form' } } do |f| %>
      <%= f.label :age, "AGE LIMIT:", class:"retro-normal h4 mt-4" ,data: { search_users_target: 'ageLabel'} %>
      <%= f.range_field :age, in: 16..100,
              class: "form-control my-3",
              value: params[:age],
              data: { search_users_target: 'inputAge', action: 'change->search-users#update change->search-users#changeAge'}
               %>

    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Search by name, hobby, age, gender or location!',
                     value: params[:query],
                     data: { search_users_target: 'input',
                             action: 'keyup->search-users#update'
                     } %>


  <% end %>

  <%= render "shared/user_select"%>

</div>
