<%= User.all.first.letters.first.receiver.name %>


<% @users.each do |user|%>

<div class="user wrapper bg-dark m-2" data-controller="user-card">
  <div class="user-card">
    <div class="avatar-large">
      <img src=<%=user.avatar%>>
    </div>
    <div class="card-info ">
      <h2><%=user.name%></h2>
      <h3><strong>Location: </strong><%=user.address%></h3>
      <h3><strong>Age: </strong><%=user.age%></h3>
      <h3><strong>Gender: </strong><%=user.gender%></h3>
    </div>
  </div>
  <div class="hider d-none" data-user-card-target="content">
    <div class="user-card mt-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercita</p>
    </div>
    <%= link_to "Select User", "#" , class:"rbtn-small" %>
  </div>
</div>


<%end%>
