
        <div class="content<%=index%>">
          <strong class="timer<%=index%>"> <%=letter.content.to_plain_text.truncate(1400)%> </strong>
          </div>
          <button class="inbox-thread retro-blue m-4 w-50" data-bs-toggle="modal" data-bs-target="#exampleModal<%=index%>"> Full Screen</button>

    <div class="modal fade" id="exampleModal<%=index%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=index%>" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title letter-title letter" id="exampleModalLabel<%=index%>"><strong>Subject:</strong> <%= letter.subject.titleize %> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body letter-body letter">
            <strong style="white-space: pre-line"><%=letter.content %> </strong>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="retro" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
