<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.png" %>
      <h1 class="halftone mx-2">LETTERLY</h1>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav w-100 align-items-center justify-content-evenly">
        <li class="nav-item">
          <%= link_to "HOME", "/", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "SEND LETTER", pals_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%if !user_signed_in? %>
            <%= link_to "MY LETTERS", new_user_session_path, class: "nav-link" %>
          <%  else %>
            <%= link_to "MY LETTERS", pal_inboxes_path(current_user), class: "nav-link" %>
          <% end%>
        </li>
        <li style="list-style: none;" class="nav-item dropdown m-0 d-flex flex-column justify-content-center align-items-center">
          <%= image_tag @avatar, class: "avatar-bordered dropdown-toggle mx-3 mb-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <h6 class="m-0"><%= @name %></h6>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% path = user_signed_in? ? pal_inboxes_path(current_user) : "/"%>
            <%= link_to "MY LETTERS", path, class: "dropdown-item" %>
            <%if !user_signed_in? %>
              <%= link_to "SIGN IN", new_user_session_path, class: "dropdown-item" %>
            <%  else %>
              <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% end%>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
