<div class="col-12 navbar navbar-expand-lg bg-light sticky-top p-4">
  <div class="col-7 container-fluid">

    <div class="logo-left d-flex align-items-center position-absolute">
    <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
    <h1 class="halftone">LETTERLY</h1>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <%# if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Letters", "#", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Tracker", "#", class: "nav-link" %>
        </li>

    </div>
    <li style="list-style: none;" class="nav-item dropdown">
      <%= image_tag "avatar-placeholder.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "My Letters", "#", class: "dropdown-item" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
    </ul>
  </div>
</div>
</div>
