<div class="banner">
  <div class="banner-items">
    <div class="typing-header">
      <h1>Write a letter. Share a story.</h1>
    </div>
    <div class="row justify-content-evenly w-100"><%= link_to "SEND LETTER", pals_path, class: "h5 col-4 retro fader" %>
      <%= form_tag inboxes_path, id: "form", class:"col-4 p-0",method: :post do %>
        <button type="submit" name="bottled" class="h5 retro-blue col-12" value="true">MESSAGE IN A BOTTLE</button>
      <% end %> </div>
    <a href="#starter" class="link">
      <div class="arrow-container">
        <div class="mouse_scroll">
          <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="list">
  <div id="starter" class="background-white">
    <div class="row justify-content-evenly w-100">
      <div class="col-xxl-5 col-xl-5 col-sm-8 col-8 flex-column d-flex justify-content-center align-items-center">
        <%= image_tag "world.png"%>
      </div>
      <div class="col-xxl-5 col-xl-5 col-sm-8 col-10 flex-column d-flex justify-content-center align-items-center">
        <h1 class="text-center mt-5">Start your letter</h1>
        <h4 class="mb-5">
          <span class="highlight rounded-pill py-1 px-3">Letterly</span> is a unique app that lets you experience the joy of sending and receiving handwritten letters with people from all over the world on the go!
        </h4>
      </div>
      <hr class="mb-2">
    </div>
  </div>
  <div class="background-white">
    <div class="row justify-content-evenly w-100">
      <div class="col-xxl-5 col-xl-5 col-sm-6 col-5 flex-column d-flex justify-content-center align-items-center">
        <%= image_tag "letters.png"%>
      </div>
      <div class="col-xxl-5 col-xl-5 col-sm-8 col-10 flex-column d-flex justify-content-center align-items-center">
        <h1>Send letters to penpals across the world</h1>
        <h4 class="mb-5">Want to feel the <span class="highlight rounded-pill py-1 px-3">anticipation</span> of waiting for your pen pal's letter? We give you that chance. You can send letters that are delayed based on how far away your penpal is. </h4>
      </div>
      <hr class="mb-2">
    </div>
  </div>
  <div class="background-white pb-5">
    <div class="row justify-content-evenly w-100">
      <div class="col-xxl-5 col-xl-5 col-sm-8 col-8 flex-column d-flex justify-content-center align-items-center">
        <%= image_tag "list.png"%>
      </div>
      <div class="col-xxl-5 col-xl-5 col-sm-8 col-10 flex-column d-flex justify-content-center align-items-center">
        <h1 class="text-center mt-5">Get writing in long meaningful discussions</h1>
        <h4>Letterly is perfect for if you're looking for an excuse to write in a different <span class="highlight rounded-pill py-1 px-3">style</span>. Enjoy exploring new topics in depth or just getting lost in your thoughts. </h4>
      </div>
    </div>
    <hr class="mb-2">
  </div>
  <h2 class="p-5 background-white text-center">Join our grow global network</h2>
  <div style="height: 700px; width: 100vw;
      margin-left: calc(50% - 50vw);" data-controller="mapbox" data-mapbox-markers-value="<%= @markers.to_json %>" data-mapbox-api-key-value="pk.eyJ1Ijoic2h1c2h5eXkiLCJhIjoiY2wwZ2kyb2M4MTJ1bjNqbXpleTRyMWp6MCJ9.yukzCb-0A-OGU2rz-1YkWw">
  </div>
  <hr >
  <div class="row justify-content-between my-5">
    <div class="col text-center">
      <h1 class="highlight rounded-pill py-1 px-3">448M </h1>
      <h1>Letters Sent</h1>
    </div>
    <div class="col text-center">
      <h1 class="highlight rounded-pill py-1 px-3">42M </h1>
      <h1>Active Users</h1>
    </div>
    <div class="col text-center">
      <h1 class="highlight rounded-pill py-1 px-3">34M </h1>
      <h1>Exchanges</h1>
    </div>
  </div>
</div>
</div>
</div>
