<h2>Write your letter to <strong style="font-color:$letterly-yellow"><%= @inbox.bottled ? "???" : @receiver.name.titleize %></strong> </h2>

<div class="form-outline">
  <div class="form-letter">
    <%= simple_form_for [@inbox, @letter] do |f| %>

    <div class="field">
      <%= f.label :subject, "Letter title" %>
      <%= f.text_field :subject, placeholder: "What is your letter about",class:"form-control w-100 border-0 p-2"%>
    </div>
    <div class="field">
      <%= f.label :content, "Letter text" %>
      <%= f.rich_text_area :content,as: :text_area, placeholder: "Write a letter - share a story", class:"rich-area form-control p-2" %>
    </div>
    <div class="actions">
      <button type="submit" class="retro-blue">Send a letter!</button>
    </div>

    <% end %>
  </div>
</div>

<%# <%= link_to 'Back', pals_path, class:"retro" %>

<% if @inbox.letters.count.zero?  %>
  <%=  link_to 'Go Back', @inbox, method: :delete, class:"retro", data: { confirm: 'Are you sure? All your letter content will be lost.' } %>
<% else %>
  <%= link_to 'Go Back', pals_path, class:"retro"  %>
<% end %>

 <%# if @inbox.letters.count.zero? %>
