<!DOCTYPE html>
<html>

<head>
  <title>Letterly</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <%= favicon_link_tag asset_path('logo.ico') %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
  <%= render 'shared/navbar' %>
  <div class="col-7 m-auto">
  <%= yield %>
  </div>
  <%= render 'shared/flashes' %>
</body>

</html>
