<%= link_to "Reply", new_inbox_letter_path(@inbox), class:"retro-blue m-4"%> <ol><% @inbox.letters.reverse.each do |letter| %> <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><%=  letter.sender == current_user ? "Sent to #{letter.receiver.name}" : "From Sender: #{letter.sender.name}" %> </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="inbox-container">
            <img class="avatar-sm" src=<%=letter.sender.avatar%>>
            <br>
            <li class="inbox-thread" data-bs-toggle="modal" data-bs-target="#exampleModal"><%= letter.sender == current_user ? "Sent to #{letter.receiver.name}" : "From Sender: #{letter.sender.name}" %> </li>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen	">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= letter.subject %> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <strong><%=letter.content %> </strong>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br><% end %> </ol>
